{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_v0_1.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


    <h1 class="heading-xlarge">
      Data entry part 3 - this is the future, so pretend we're a year or two ahead.
    </h1>

    <p>Explantory content.</p>

    <form action="page5" method="get" class="form">

    {% include "includes/cross_page_v0_1.html"%}
    <input type="hidden" name="year8_1" value="{{ year8_1 }}">
    <input type="hidden" name="year8_left1" value="{{ year8_left1 }}">
    <input type="hidden" name="year8_2" value="{{ year8_2 }}">
    <input type="hidden" name="year8_left2" value="{{ year8_left2 }}">


    <table>
      <tbody>

      <tr>
        <td width=50% class="label">2016 to 2017</td>
        <td>£ <input class="form-control" id="year9" type="number" pattern="[0-9]*" name="year9" value="{{ year9 }}"></td>
      </tr>

      <tr>
        <td width=50% class="label">2017 to 2018</td>
        <td>£ <input class="form-control" id="year10" type="number" pattern="[0-9]*" name="year10" value="{{ year10 }}"></td>
      </tr>

    </tbody>
  </table>

  <p></p>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</div>
</div>


</main>
{% endblock %}
