{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_v0_1.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


    <h1 class="heading-xlarge">
      Data entry part 3 - this is the future, so pretend we're a year or two ahead.
    </h1>

    <p>Explantory content.</p>

    <form action="page5" method="get" class="form">

      <input type="hidden" name="withdrawal" value="{{ withdrawal }}">
      <input type="hidden" name="year1" value="{{ year1 }}">
      <input type="hidden" name="year2" value="{{ year2 }}">
      <input type="hidden" name="year3" value="{{ year3 }}">
      <input type="hidden" name="year4" value="{{ year4 }}">
      <input type="hidden" name="year5" value="{{ year5 }}">
      <input type="hidden" name="year6" value="{{ year6 }}">
      <input type="hidden" name="year7" value="{{ year7 }}">
      <input type="hidden" name="year8_1" value="{{ year8_1 }}">
      <input type="hidden" name="year8_left1" value="{{ year8_left1 }}">
      <input type="hidden" name="year8_2" value="{{ year8_2 }}">
      <input type="hidden" name="year8_left2" value="{{ year8_left2 }}">


    <table>
      <tbody>

      <tr>
        <td width=50% class="label">2016 to 2017</td>
        <td>£ <input class="form-control" id="2008" type="number" pattern="[0-9]*" min="0" max="31" name="2008"></td>
      </tr>

      <tr>
        <td width=50% class="label">2017 to 2018</td>
        <td>£ <input class="form-control" id="2008" type="number" pattern="[0-9]*" min="0" max="31" name="2008"></td>
      </tr>

    </tbody>
  </table>

  <p></p>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</div>
</div>


</main>
{% endblock %}
