{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_v0_1.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <form action="page4" method="get" class="form">

    <h1 class="heading-xlarge">
      Data entry part 2 - when user chooses no on page 1
    </h1>

    <p>Explanatory content.</p>

    <p></p>

    <input type="hidden" name="withdrawal" value="{{ withdrawal }}">
    <input type="hidden" name="year1" value="{{ year1 }}">
    <input type="hidden" name="year2" value="{{ year2 }}">
    <input type="hidden" name="year3" value="{{ year3 }}">
    <input type="hidden" name="year4" value="{{ year4 }}">
    <input type="hidden" name="year5" value="{{ year5 }}">
    <input type="hidden" name="year6" value="{{ year6 }}">
    <input type="hidden" name="year7" value="{{ year7 }}">

        <table>
          <tr>
            <td width=50%{% if withdrawal == "Yes" %} style="border-bottom: none;"{% endif %}>6 April 2015 until 8 July 2016</td>
            <td{% if withdrawal == "Yes" %} style="border-bottom: none;" {% endif %}>£ <input class="form-control" id="year8_1" type="number" pattern="[0-9]*" name="year8_1"></td>
          </tr>

          {% if withdrawal == "Yes" %}

          <tr>
            <td style="text-align: right;">Leftover</td>
            <td>£ <input class="form-control" id="year8_left1" type="number" pattern="[0-9]*" name="year8_left1"></td>
          </tr>

          {% endif %}

          <tr>
            <td{% if withdrawal == "Yes" %} style="border-bottom: none;"{% endif %}>9 July 2015 to 6 April 2016</td>
            <td{% if withdrawal == "Yes" %} style="border-bottom: none;"{% endif %}>£ <input class="form-control" id="year8_2" type="number" pattern="[0-9]*" name="year8_2"></td>
          </tr>

          {% if withdrawal == "Yes" %}

          <tr>
            <td style="text-align: right;">Leftover</td>
            <td>£ <input class="form-control" id="year8_left2" type="number" pattern="[0-9]*" name="year8_left2"></td>
          </tr>

          {% endif %}


        </table>

        <p></p>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</div>
</div>


</main>
{% endblock %}
