{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_v0_1.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <form action="page2" method="get" class="form">

    <h1 class="heading-xlarge">
      About your *benefits*
    </h1>



        <p>
          Over the previous eight years have you taken benefits from your defined contrbutions schemes (DCS) or have a statement by your sceheme administrators confirming your benefits have been accessed flexibly?
        </p>

        <div class="form-group form-group-compound">
          <fieldset class="inline">

        <label for="radio-part-1" class="block-label">
          <input id="radio-part-1" type="radio" name="withdrawal" value="Yes">
          <span class="heading-small">Yes</span>
        </label>

        <label for="radio-part-2" class="block-label">
          <input id="radio-part-2" type="radio" name="withdrawal" value="No">
          <span class="heading-small">No</span>
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</div>
</div>


</main>
{% endblock %}
