{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Annual pension allowance checker</h1>

      <p>Goal: To update the exisiting pension allowance advisory tool, which can <a href="http://www.hmrc.gov.uk/tools/pension-allowance/">be found at this
      link</a></p>

      <p>Task: Worth thinking "What does success look like here?" Once this tool is launched how would people see it? Is it worth doing the press release exercise?</p>


      <h2 class="heading-medium">v0.1</h2>
      <h3 class="heading-small">Wednesday 16 March 2016</h3>

      <p>A simple flow to start the discussion around needs (user and business) and technical delivery.</p>

			<ul class="list list-bullet">
				<li><a href="/v0_1/start-page">Start page</a></li>
			</ul>

      <h2 class="heading-medium">v0.2</h2>
      <h3 class="heading-small">Friday 18 March 2016</h3>

      <p>One page form to serve them all.</p>

			<ul class="list list-bullet">
				<li><a href="/v0_2/start-page">Start page</a></li>
			</ul>


      <h2 class="heading-medium">Future versions here</h2>


      <hr>


			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/examples">Example pages and patterns</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
						Read the full documentation</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="http://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
